snippet taskheaderline
  | ${1:001}   `strftime("%Y-%m-%d")`  Tern Systems/Johann Fridriksson
  |       Task: ${2}
  |       ${3}
  |

snippet taskheader
  /*----------------------------------------------------------------------------
  | Copyright (C) `strftime("%Y")`, Tern Systems, Inc.  All Rights Reserved.
  |
  | ${1:001}   `strftime("%Y-%m-%d")`  Tern Systems/Johann Fridriksson
  |       Task: ${2}
  |       ${3:Initial version.}
  |
  ----------------------------------------------------------------------------*/
  #ifndef ${4:`toupper(expand('%:t:gs?\.?_?'))`}
  #define ${4}

  /*!
   * @file ${5:`expand('%:t;')`}
   * @brief ${6}
   */

  /*----------------------------------------------------------------------------
  | Include local header files
  ----------------------------------------------------------------------------*/

  /*----------------------------------------------------------------------------
  | Include Tern header files
  ----------------------------------------------------------------------------*/
  
  /*----------------------------------------------------------------------------
  | Include QT header files
  ----------------------------------------------------------------------------*/
  
  /*----------------------------------------------------------------------------
  | Include standard header files
  ----------------------------------------------------------------------------*/
  
  
  /*----------------------------------------------------------------------------
  | Forward class declarations
  ----------------------------------------------------------------------------*/

  ${0}

  #endif /* ${4} */

snippet briefComment
  /*!
   * \brief ${1}
   * \return ${2}
   */
